node-red/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1b472bc749c02172",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "All Agriculture Sensors",
        "topic": "agriculture/sensors/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "6e3d86355c23fcb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "907c0e02fd47ede7"
            ]
        ]
    },
    {
        "id": "907c0e02fd47ede7",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "0f1fb067ebe2b575",
                "633f79696e6a5f91",
                "07a2861ca51925e5",
                "eb9745f99f313d8b"
            ]
        ]
    },
    {
        "id": "0f1fb067ebe2b575",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "f7888138e2435706",
        "name": "Write to InfluxDB",
        "measurement": "sensor_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AgriSecure",
        "bucket": "agriculture",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "633f79696e6a5f91",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "Moisture Check",
        "property": "payload.moisture_percent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 180,
        "wires": [
            [
                "39e906732970f44c",
                "3aba9cdf92cc43c9"
            ]
        ]
    },
    {
        "id": "39e906732970f44c",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Dry Soil Alert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "⚠️ ALERT: Soil moisture critically low! Irrigation required immediately.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 180,
        "wires": [
            [
                "1695919e50f3dcad"
            ]
        ]
    },
    {
        "id": "1695919e50f3dcad",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 180,
        "wires": []
    },
    {
        "id": "07a2861ca51925e5",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "Temperature check",
        "property": "payload.temperature_celsius",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "35",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "7c3e5051683a7c52",
                "6992eb12c7d97495"
            ]
        ]
    },
    {
        "id": "eb9745f99f313d8b",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "Humidity Check",
        "property": "payload.humidity_percent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "80",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "e8c9dfc4f8836dc8",
                "3e3757242fc1468a"
            ]
        ]
    },
    {
        "id": "7c3e5051683a7c52",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Heat Alert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "⚠️ ALERT: Temperature critically high! Heat stress risk to crops.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 300,
        "wires": [
            [
                "6782a7364a85f8da"
            ]
        ]
    },
    {
        "id": "e8c9dfc4f8836dc8",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "High Humidity Alert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "⚠️ ALERT: Humidity critically high! Risk of fungal disease in crops.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 380,
        "wires": [
            [
                "68926366638e826c"
            ]
        ]
    },
    {
        "id": "6782a7364a85f8da",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "68926366638e826c",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 380,
        "wires": []
    },
    {
        "id": "3aba9cdf92cc43c9",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Irrigation System",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "💦 Irrigation Systems activate",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 140,
        "wires": [
            [
                "1695919e50f3dcad"
            ]
        ]
    },
    {
        "id": "6992eb12c7d97495",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "AC Units",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "💨 Air Conditioning activated",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 260,
        "wires": [
            [
                "6782a7364a85f8da"
            ]
        ]
    },
    {
        "id": "3e3757242fc1468a",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "humidifiers and dehumidifiers",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Humidity regulatory systems activated",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 420,
        "wires": [
            [
                "68926366638e826c"
            ]
        ]
    },
    {
        "id": "6e3d86355c23fcb9",
        "type": "mqtt-broker",
        "name": "Mosquitto Broker",
        "broker": "mosquitto",
        "port": "8883",
        "tls": "caafa9d1a75862f7",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f7888138e2435706",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "Write to InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": false
    },
    {
        "id": "caafa9d1a75862f7",
        "type": "tls-config",
        "name": "AgriSecure TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ca.crt",
        "servername": "localhost",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "8c81a208d6e485f4",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]